<ion-header>
  <ion-navbar>
    <ion-title text-center>
     Teste de Security
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
 <ion-grid>
   <ion-row>
     <ion-col text-center>
        Esta tela é apenas para Testes
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
        <button ion-button full (click)="start()">Iniciar teste do Security</button>
     </ion-col>
   </ion-row>
  
   <!--<ion-row>
     <ion-col>
        <button ion-button full>Exibir Obj</button>
     </ion-col>
     <ion-col>
        <button ion-button full>Permissão do Obj</button>
     </ion-col>
   </ion-row>-->
   <ion-row>
     <ion-col>
        <button (click)="goToPermissoesSemEscopo()" ion-button full>Teste de Permissões</button>
     </ion-col>
   </ion-row>
   <!--<ion-row>
     <ion-col>
        <button ion-button full>Permissão por Grupo</button>
     </ion-col>
     <ion-col>
        <button ion-button full>Negação por Grupo</button>
     </ion-col>
   </ion-row>-->
   <ion-row>
      <ion-col>
         <button (click)="goToPermissoes()" ion-button full>Teste de Permissões Por Escopo</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         <button (click)="sair()" ion-button full>Sair</button>
      </ion-col>
    </ion-row>
 </ion-grid>
</ion-content>
