<ion-content class="transparent-header">
  <ion-slides pager="false" autoplay="2000" loop="true" speed="3000" effect="fade" style="position:  absolute;">
    <ion-slide class="slide-background swiper-no-swiping" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
    </ion-slide>
  </ion-slides>
  <div style="position: absolute; z-index: 1;width:100%;height:100%;">
    <img class="logo" src="./../../assets/login/logo-ons.png" style="margin-left:25%;" />
    <div style="padding:16px;">
      <ion-item>
        <ion-input type="text" [(ngModel)]="usuario.UserName" (ngModelChange)="usuarioAlterado($event)" placeholder="Usuário" style="font-family: Roboto; font-size: 1.4rem;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [type]="passwordType" clearOnEdit="false" [(ngModel)]="usuario.UserPass" (ngModelChange)="usuarioAlterado($event)"
          placeholder="Senha" style="font-family: Roboto; font-size: 1.4rem;"></ion-input>
        <button ion-button clear item-end (click)='hideShowPassword()' style="height:32px;">
          <ion-icon [name]="passwordIcon" style="font-size:32px;"></ion-icon>
        </button>
      </ion-item>
      <button ion-button block outline (click)="logar()" color="light" class="login-button">Entrar</button>
    </div>
  </div>
</ion-content>