<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col>
              <h1>{{loginSrv.CurrentUser.User_Full_Name}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
               <button (click)="goToPermissoesSemEscopo()" ion-button full>Teste de Permissões</button>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                 <button (click)="goToPermissoes()" ion-button full>Teste de Permissões Por Escopo</button>
              </ion-col>
            </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full color="danger" (click)="sair()">Sair</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full color="danger" (click)="encerrar()">Encerrar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>