// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "./../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


//@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
//
$colors: (
  primary: #486018,
  primary_80: #6D8046,
  primary_60: #B6BFA3,
  primary_40: #B6BFA3,
  primary_20: #DADFD1,
  secondary: #636266,
  secondary_80: #828185,
  secondary_60: #A1A1A3,
  secondary_40: #C1C0C2,
  secondary_20: #E0E0E0,
  orange: #F76C00,
  orange_80: #F98933,
  orange_60:#FAA766,
  orange_40:#FCC499,
  orange_20:#FDE2CC,
  blue:#4F8AD8,
  blue_80: #72A1E0,
  blue_60: #95B9E8,
  blue_40: #B9D0EF,
  blue_20: #DCE8F7,
  red:#D10429,
  red_80:#DA3654,
  red_60:#E3687F,
  red_40:#ED9BA9,
  red_20:#F6CDD4
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

//@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

//@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "./../assets/fonts/roboto";
//@import "noto-sans";
