<!--
  Generated template for the PermissoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Teste Permissões Sem Escopo</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  <ion-grid>
      <ion-row>
        <ion-col>
            <ion-item no-lines>
                <ion-label>Security Service</ion-label>
                <ion-toggle [(ngModel)]="UseSecurity"></ion-toggle>
            </ion-item>
        </ion-col>
      </ion-row>
      <!--<ion-row>
        <ion-col>
            <ion-item no-lines>
                <ion-label>Global Access Operation</ion-label>
                <ion-toggle [(ngModel)]="IsGlobal" (ionChange)="globalChange()"></ion-toggle>
            </ion-item>
        </ion-col>
      </ion-row>-->
      <!--<ion-row>
          <ion-col>
           <ion-item no-lines>
             <ion-label color="primary">Escopo:</ion-label>
             <ion-input placeholder="Insira o Escopo" [(ngModel)]="inputScope" disabled></ion-input>
           </ion-item>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label color="primary">Tipo:</ion-label>
              <ion-input placeholder="Insira o Tipo" [(ngModel)]="inputType" disabled></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>-->
      <ion-row>
          <ion-col>
           <ion-item no-lines>
             <ion-label color="primary">Grupo:</ion-label>
             <ion-input placeholder="Insira o grupo" [(ngModel)]="inputGroup" (ionChange)="groupChange()"></ion-input>
           </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
             <ion-item no-lines>
               <ion-label color="primary">Perfil:</ion-label>
               <ion-input placeholder="Insira o perfil" [(ngModel)]="inputRole" (ionChange)="roleChange()"></ion-input>
             </ion-item>
            </ion-col>
          </ion-row>
      <ion-row>
          <ion-col>
           <ion-item no-lines>
             <ion-label color="primary">Operação:</ion-label>
             <ion-input placeholder="Insira a operação" [(ngModel)]="inputOperation"  (ionChange)="operationChange()"></ion-input>
           </ion-item>
          </ion-col>
        </ion-row>
    <ion-row>
      <ion-col>
         <button *ngIf="((OperationAllowed == true && UseSecurity == true) || (UseSecurity == false))" ion-button full>Operação</button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
           <button *ngIf="((GroupAllowed == true && UseSecurity == true) || (UseSecurity == false))" ion-button full>Grupo</button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
             <button *ngIf="((RoleAllowed == true && UseSecurity == true) || (UseSecurity == false) )" ion-button full>Perfil</button>
          </ion-col>
      </ion-row>
      <!--<ion-row class="none">
          <ion-col>
             <button ion-button full>Operação/Tipo</button>
          </ion-col>
      </ion-row>
      <ion-row class="none">
          <ion-col>
             <button ion-button full>Perfil/Tipo</button>
          </ion-col>
      </ion-row>-->
  </ion-grid>
  </ion-content>
  