$colors: ( primary: #486018, primary_80: #6D8046, primary_60: #B6BFA3, primary_40: #B6BFA3, primary_20: #DADFD1, secondary: #636266, secondary_80: #828185, secondary_60: #A1A1A3, secondary_40: #C1C0C2, secondary_20: #E0E0E0, orange: #F76C00, orange_80: #F98933, orange_60:#FAA766, orange_40:#FCC499, orange_20:#FDE2CC, blue:#4F8AD8, blue_80: #72A1E0, blue_60: #95B9E8, blue_40: #B9D0EF, blue_20: #DCE8F7, red:#D10429, red_80:#DA3654, red_60:#E3687F, red_40:#ED9BA9, red_20:#F6CDD4);
$transparent-white: rgba(255, 255, 255, .6);

 @import "../../theme/variables";

.slide-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
}

.slide-zoom {
    background: rgba(32, 32, 32, 0.2) !important;
    height: 100%;
}

ion-slides {
    height: 100vh;
} // This is just to make the header transparent and button/icon with white color
.toolbar-content,
span {
    color: white;
}

.toolbar-background,
ion-navbar,
ion-header {
    background: transparent !important;
    background-color: transparent !important;
}

.header-md::after,
.toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
} // Footer
ion-footer {
    height: 47px;
}

.testecss {
    background-color: red !important;
    height: 12vh;
}

.footer {
    text-align: center;
    background: rgba(255, 255, 255, .06);
    min-height: 47px;
}

.footer-md::before {
    border-top: 1px solid $transparent-white;
    background-image: none;
} // Fullscreen animated rainbow gradient
ion-content {
    background: linear-gradient($transparent-white);
    background-size: 1800% 1800%;
    animation: rainbow 30s linear infinite;
} // Content
.scroll-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
} // Input items
ion-item {
    border-radius: 3px !important;
    padding-left: 10px !important;
    margin-bottom: 15px !important;
    margin-bottom: 10px;
    color: #fff !important;
    background-color: rgba(255, 255, 255, .2) !important;
    font-size: 0.9em;
}

::-webkit-input-placeholder {
    color: white !important;
}

.item-inner {
    border-bottom: 0 !important;
    box-shadow: none !important;
} // --
.login-button {
    text-transform: none;
    border-radius: 3px !important;
    background-color: map-get($colors, primary);
} // Facebook icon
ion-icon {
    padding-right: 10px;
    font-size: 2.2rem;
} // HR with text in the middle effect
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike>span {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.strike>span:before,
.strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $transparent-white;
}

.strike>span:before {
    right: 100%;
    margin-right: 15px;
}

.strike>span:after {
    left: 100%;
    margin-left: 15px;
}

.passwordIcon {
    font-size: 2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
}